body{
    font-family: "Lucida Console",monospace;
    line-height: 180%;
    background-color: #f3f5fc;    ;
    width=100%;
    font-size:1em;
    
}

div.container{
    margin:50px;

}



header{
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding:2vw 4vw 2vw 4vw;
}

section{
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding:2vw 4vw 2vw 4vw;
}

h1{
    font-family:Monaco, monospace;
    color: #1A1423;
}

li{
    margin-bottom:1em;
}

.highlight{
    font-weight:bold;
}

footer{
    padding:2vh 0vh 1vh 0vh;
    text-align: center;
    font-size: .8em;
}
