body {
    font-family: "Lucida Console", monospace;
    line-height: 180%;
    width=100%;
    font-size: 1em;
    background-color: #f0f3ff;
    /*3f5fc*/


}

div.container {
    margin: 50px;

}



header {
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 3vw;
    margin: 3vw;
    text-align: center;
}

section {
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 3vw;
    margin: 3vw;
    /* display: flex;*/

}


aside {
    float: right;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 2vw;
    margin: 2vw;
    height: fit-content;
    max-width: 40%;
}

h1 {
    font-family: Monaco, monospace;
    color: #1A1423;
}

h3 {
    font-size: x-large;
}

li {
    margin-bottom: 1em;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
}


footer {
    padding: 2vh 0vh 1vh 0vh;
    text-align: center;
    font-size: .8em;
}