body {
    font-family: "Lucida Console", monospace;
    line-height: 180%;
    font-size: 1em;
    background-color: #fffff0;
    /*3f5fc*/


}

div.container {
    margin: 50px;

}



header {
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 3vw;
    margin: 3vw;
    text-align: center;
    background-color: #f0f3ff;
}

section {
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 3vw;
    margin: 3vw;
    background-color: #f0f3ff;
    float: left;
    clear: left;
}


aside {
    float: right;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 2vw;
    margin: 2vw;
    height: fit-content;
    max-width: 40%;
    background-color: #fffff0;

}

h1 {
    font-family: Monaco, monospace;
    color: #1A1423;
    font-size: 2.7rem;
}

#highlight {
    background-color: #e3f886;
    /*ccf886*/
    width: fit-content;
    padding: .5vw;
}


li {
    margin-bottom: 1em;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
}


footer {
    padding: 2vh 0vh 1vh 0vh;
    text-align: center;
    font-size: .8em;
    clear: both;
}